<p>dev-util works!</p>
<div>
    <input type="button" value="start new round" (click)="onStartRound()" />
    <input type="button" value="end round" (click)="onEndRound()" />
</div>
<div class="team-move">
    <mat-form-field appearance="fill">
        <mat-label>Selected team</mat-label>
        <mat-select [(value)]="selectedTeam">
            <mat-option *ngFor="let team of teamNames" [value]="team">
                {{team}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <h2>Remote teammate actions</h2>
    Actions:
    <button (click)="moveTeamUp()">|^|</button>
    <button (click)="moveTeamLeft()">&lt;-</button>
    <button (click)="moveTeamRight()">-></button>
    <button (click)="moveTeamDown()">|v|</button>
    <button (click)="pickup()">Pickup!</button>
</div>