:host {
    &.impassible {
        background-color: gray;
    }

    $border-default: solid black 1px;
    border-top: $border-default;
    border-left: $border-default;
        position: relative;
    
    
        }
    
        zh-space-content {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
}
.drop-off {
    border-style: inset;
    border-width: 10px;
}