<p *ngIf="user">
    <span class="user-name">{{user.id}}</span> you are on team <span *ngIf="!teamShape"
        class="team-name">{{user.teamId}}</span><span class="team-token"><img *ngIf="teamShape" [src]="teamShape"
            [ngStyle]="{'filter':teamTokenFilter}" class="team-token" /></span>
</p>
<div class="round-timer" *ngIf="timeLeft">Time Left: {{timeLeft|async}}</div>
<div class="movement-container">
    <button class="action move-north" mat-raised-button color="primary" [disabled]="actionDisabled" (click)="moveUp()">
        <img class="movement-arrow up" src="../../assets/token-movement/arrow.white.up.svg" />
    </button>
    <button class="action move-east" mat-raised-button color="primary" [disabled]="actionDisabled" (click)="moveRight()">
        <img class="movement-arrow right" src="../../assets/token-movement/arrow.white.up.svg" />
    </button>
    <button class="action move-south" mat-raised-button color="primary" [disabled]="actionDisabled" (click)="moveDown()">
        <img class="movement-arrow down" src="../../assets/token-movement/arrow.white.up.svg" />
    </button>
    <button class="action move-west" mat-raised-button color="primary" [disabled]="actionDisabled" (click)="moveLeft()">
        <img class="movement-arrow left" src="../../assets/token-movement/arrow.white.up.svg" />
    </button>
    <button class="action pickup" mat-raised-button color="primary" [disabled]="actionDisabled" (click)="pickup()">
        <img class="pickup" src="../../assets/token-movement/pickup.white.svg" />
    </button>
</div>