.team-token {
    height: 1em;
}
.movement-arrow,
.pickup {
    max-width: 2em;
    max-height: 2.5em;
}
.movement-arrow {
    &.right {
        rotate: 90deg;
    }

    &.left {
        rotate: -90deg;
    }

    &.down {
        rotate: 180deg;
    }
}

.movement-container {
    background-color: lightseagreen;
    &>button {
            margin: 10px;
        }
}