<p *ngIf="user">
    <span class="user-name">{{user.id}}</span> you are on team <span *ngIf="!teamToken"
        class="team-name">{{user.teamId}}</span><span class="team-token"><img *ngIf="teamToken" [src]="teamToken"
            style="filter: brightness(0) saturate(100%) invert(22%) sepia(84%) saturate(7444%) hue-rotate(357deg) brightness(115%) contrast(124%);" class="team-token" /></span>
</p>
<div class="movement-container">
    <button mat-raised-button color="primary" [disabled]="actionDisabled" (click)="moveUp()">
        <img class="movement-arrow up" src="../../assets/token-movement/arrow.white.up.svg" />
    </button>
    <button mat-raised-button color="primary" [disabled]="actionDisabled" (click)="moveRight()">
        <img class="movement-arrow right" src="../../assets/token-movement/arrow.white.up.svg" />
    </button>
    <button mat-raised-button color="primary" [disabled]="actionDisabled" (click)="moveDown()">
        <img class="movement-arrow down" src="../../assets/token-movement/arrow.white.up.svg" />
    </button>
    <button mat-raised-button color="primary" [disabled]="actionDisabled" (click)="moveLeft()">
        <img class="movement-arrow left" src="../../assets/token-movement/arrow.white.up.svg" />
    </button>
    <button mat-raised-button color="primary" [disabled]="actionDisabled" (click)="pickup()">
        <img class="pickup" src="../../assets/token-movement/pickup.white.svg" />
    </button>
</div>