.team-token {
    height: 1em;
}
.movement-arrow,
.pickup {
    max-width: 2em;
    max-height: 2.5em;
}
.movement-arrow {
    &.right {
        rotate: 90deg;
    }

    &.left {
        rotate: -90deg;
    }

    &.down {
        rotate: 180deg;
    }
}

.movement-container {
    background-color: lightseagreen;
    padding: 5px;
        margin: 5px;
    display: grid;
        grid-template-areas:
            "north-west north-middle north-east"
            "center-west center-middle center-east"
            "south-west south-middle south-east";
        gap: 10px;
    
        .action {
            &.move-north {
                grid-area: north-middle;
            }
    
            &.move-east {
                grid-area: center-east;
            }
    
            &.move-west {
                grid-area: center-west;
            }
    
            &.move-south {
                grid-area: south-middle;
            }
    
            &.pickup {
                grid-area: center-middle;
            }
                }
}